@import url('https://fonts.cdnfonts.com/css/satoshi');
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-hero {
    background-image: url('assets/bg-hero.png');
    background-size: cover;
    background-position: center;
}

.video-container {
     background-image: url('assets/video-bg.png');
    background-size: cover;
    background-position: center;
    width: 700px;
    height: 500px;
 
}



